<p class="content__paragraph content__paragraph--small m-top">Thanks</p>
<p class="content__paragraph content__paragraph--small">Team Hackatuning</p>
</div>
</div>

<div class="footer__logo">
  <img class="footer__logo-img" src="{{ api }}/static/logomarca-white.svg" alt="Hackatuning" />
</div>
