<strong>Ola, {{ provider }}</strong>
<p>Houve um cancelamento, confira abaixo:</p>
<p>
  <strong>Cliente:</strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    O horario esta novamente disponivel.
  </small>
</p>
