<strong>Hi, {{ user }}</strong>
<p>Congratulations on your registration, now you just need to confirm your email, it is very simple just click the link below:</p>
<p>
  <strong>Link:</strong> <a href="{{ link }}" title="Confirm">{{ link }}</a>
</p>
