<h1 class="content__title m-bottom">
  Well come <span class="cl-blue">{{ user }}</span>!
</h1>

<p class="content__paragraph m-bottom">
  To use our services, please confirm your email by clicking the button below:
</p>

<a href="{{ link }}" title="Confirm your email" class="btn btn--blue">
  CONFIRM YOUR EMAIL
</a>
