<h1 class="content__title m-bottom">
  Hello <span class="cl-blue">{{ organizer }}</span>!
</h1>

<p class="content__paragraph">Unfortunately <strong>{{ title }}</strong> will not happen anymore :( </p>
