<strong>Hello, {{ name }}</strong>
<p>You have successfully subscribed to {{ hackathon_title }}!</p>
<p>
  <strong>Date: </strong> {{ date }} <br />
  <br />

  <p>After the event start you will have until {{ deadline_team_creation }} to find or create a team!</p>

  <small>
    You can unsubscribe at any time, if you are not part of any team!
  </small>
</p>
