<h1 class="content__title m-bottom">
  Hello <span class="cl-blue">{{ name }}</span>!
</h1>

<p class="content__paragraph m-bottom">You have successfully subscribed to <strong>{{ hackathon_title }}</strong>!</p>

<p class="content__paragraph m-bottom"><strong>Date: </strong> {{ date }}</p>

<p class="content__paragraph m-bottom">After the event start you will have until {{ deadline_team_creation }} to find or create a team!</p>

<small>
  You can unsubscribe at any time, if you are not part of any team!
</small>
