<h1 class="m-bottom">Hi <span class="cl-blue">{{ creator }}</span>!</h1>
<p class="content__paragraph">
  Member <strong>{{ member }}</strong> left team <strong>"{{ teamId }}"</strong> from hackathon: <strong>{{ hackathon }}</strong>.</p>
