<h1 class="m-bottom">Hi <span class="cl-blue">{{ creator }}</span>!</h1>
<p class="content__paragraph">
  Invitation sent to <strong>{{ member }}</strong> has been accepted and now he is a member of your team at hackathon: <strong>{{ hackathon }}</strong>.
</p>
