<h1 class="content__title m-bottom">
  Hi <span class="cl-blue">{{ user }}</span>!
</h1>

<p class="content__paragraph m-bottom">
  You were invited by <strong>{{ creator }}</strong> to be a member of his team at hackathon: <strong>{{ hackathon }}</strong>
</p>

<a href="{{ link }}" title="View invitation" class="btn btn--blue">
  VIEW INVITATION
</a>
