<strong>Hello, {{ name }}</strong>
<p>You have successfully unsubscribed to {{ title }}!</p>
<p>
  <p>But if you change your mind you have untill {{ deadline_subscription }} to subscribe again.</p>

  <small>
    You can subscribe again until {{ deadline_subscription }}!
  </small>
</p>
